<b1>this is home page<b1></br>


<%= link_to "click here for all product discription" , "/proddis" %>


<div class="fig">
	<%=image_tag("figure2.jpg") %>
</div>
<div class="fig">
	<%=image_tag("figure4.jpg") %>
</div>
<div class="fig">
	<%=image_tag("figure5.jpg") %>
</div>

